.item-title {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
}

.item-avatar {
    border: solid 3px;
    border-color: #BEE3DB;
    align-content: center;
    margin: auto;
}

.item-card {
    border: solid 3px;
    border-color: #BEE3DB;
}